body 
table,th,td{
    border:2px solid gray;
    border-collapse:collapse;
}
th, td{ padding: 10px
padding-top 5px;
padding-bottom:5px;
padding-right:10px;
padding-left:10px;
}
tr:hover{background-color:blue}
<colsgroup>
<col span="background-color:red"
            font-size="20px" font-family:verdana>
            </colsgroup>
